[Sunpinyin]
# 使用双拼而不是全拼
# Available Value:
# True False
UseShuangpin=True
# Sunpinyin 的双拼方案
# Available Value:
# MS2003 ABC ZIRANMA PINYINJIAJIA ZIGUANG XIAOHE
ShuangpinScheme=PINYINJIAJIA
# 模糊切分
# Available Value:
# True False
FuzzySegmentation=False
# 支持内模糊音节 (xian->xi'an)
# Available Value:
# True False
FuzzyInnerSegmentation=False
# Sunpinyin 的优先级
Priority=1

[QuanPin]
# 模糊 zhi/zi
# Available Value:
# True False
FuzzyZhiZi=False
# 模糊 chi/ci
# Available Value:
# True False
FuzzyChiCi=False
# 模糊 shi/si
# Available Value:
# True False
FuzzyShiSi=False
# 模糊 an/ang
# Available Value:
# True False
FuzzyAnAng=False
# 模糊 on/ong
# Available Value:
# True False
FuzzyOnOng=False
# 模糊 en/eng
# Available Value:
# True False
FuzzyEnEng=False
# 模糊 in/ing
# Available Value:
# True False
FuzzyInIng=False
# 模糊 eng/ong
# Available Value:
# True False
FuzzyEngOng=False
# 模糊 ian/iang
# Available Value:
# True False
FuzzyIanIang=False
# 模糊 uan/uang
# Available Value:
# True False
FuzzyUanUang=False
# 模糊 n/l
# Available Value:
# True False
FuzzyNeLe=False
# 模糊 f/h
# Available Value:
# True False
FuzzyFoHe=False
# 模糊 l/r
# Available Value:
# True False
FuzzyLeRi=False
# 模糊 k/g
# Available Value:
# True False
FuzzyKeGe=False
# 自动更正 ign/ing
# Available Value:
# True False
AutoCorrectingIgnIng=False
# 自动更正 ogn/ong
# Available Value:
# True False
AutoCorrectingOgnOng=False
# 自动更正 uen/un
# Available Value:
# True False
AutoCorrectingUenUn=False
# 自动更正 img/ing
# Available Value:
# True False
AutoCorrectingImgIng=False
# 自动更正 iou/iu
# Available Value:
# True False
AutoCorrectingIouIu=False
# 自动更正 uei/ui
# Available Value:
# True False
AutoCorrectingUeiUi=False

